{% extends 'template.html' %}

{% block title %} Dashboard {% endblock %}

{% block content%}
<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Welcome</h4>
    <p class="card-category">Realtime Face Recognition</p>
  </div>
  <div class="card-body">
    <p>
      <h3>Hello, User!</h3>
    </p>
  </div>
</div>

<script type="text/javascript">
  $('#dashboard').addClass('active');
</script>
{% endblock %}