{% extends 'template.html' %}

{% block title %} Realtime Camera {% endblock %}

{% block content%}
<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Camera</h4>
    <p class="card-category">Realtime video camera</p>
  </div>
  <div class="card-body" style="text-align:center;">
      <img src="{{ url_for('video_feed') }}" alt="" srcset="">
  </div>
</div>

<script type="text/javascript">
    $('#realtime').addClass('active');
  </script>
{% endblock %}